.menu {
  display: flex;
  align-items: center;
  position: absolute;
  right: -280px;
  top: 239px;

  @include transitions();

  &.menu-shown {
    right: 0;
  }
}

.menu-btn-holder {
  z-index: 10;
}

.menu-btn {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #3a3a3a;
  margin-bottom: 2px;

  &:hover {
    background-color: #444;
    cursor: pointer;
  }

  &.selected {
    border-left: 2px solid #ffd700;
    background-color: #444;
  }
}

.resize-btn {
  background-image: url(/assets/img/resize-icon.png);
}

.save-btn {
  background-image: url(/assets/img/save-icon.png);
}

.menu-content-holder {
  width: 280px;
  height: 350px;
  box-shadow: 0 0 5px 0 black;
  background: #444;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 20px;

  .menu-lable {
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}

.menu-element-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 150px;

  input {
    width: 50px;
    margin-right: 8px;
    text-align: right;
    background: black;
    border: 1px solid #888;
    border-radius: 2px;
    padding: 3px 10px;
    color: white;
    height: 23px;

    &:focus {
      outline: none;
      border-color: #ffd700;
    }
  }

  p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    color: #ccc;
  }
}

.resize-menu,
.save-menu {
  display: none;
  background: #444;
}

.menu-open {
  display: block;
}

.action-btn {
  background: #ffd700;
  color: #000;
  height: 24px;
  width: 54px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 20px;

  @include transitions();

  &:hover {
    background: #fff;
    cursor: pointer;
  }
}

.preset-action {
  width: 80px;
}

.presets__row {
  display: flex;
  justify-content: center;
  margin: 40px 0 15px 0;
}

.preset {
  position: relative;

  .preset__lable {
    color: #ccc;
    display: block;
    position: relative;
    cursor: pointer;
  }

  input {
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.checkmark {
  position: absolute;
  top: -20px;
  left: 17px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #ffd700;

  &:after {
    content: '';
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffd700;
  }
}

.save-menu {
  p {
    color: #ccc;
  }

  .saving-name-input-holder {
    margin-bottom: 20px;
  }

  .save-input {
    width: 100%;
    background: black;
    border: 1px solid #888;
    border-radius: 2px;
    padding: 3px 10px;
    color: white;
    height: 23px;

    &:focus {
      outline: none;
      border-color: #ffd700;
    }
  }
}

.apng-save,
.gif-save {
  margin-bottom: 10px;

  .description {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
  }
}

.apng-save__btn,
.gif-save__btn {
  height: 24px;
  width: 110px;
  border-radius: 2px;
  background: #ffd700;
  color: #000;
  text-align: center;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 7px;

  @include transitions();

  &:hover {
    background: #fff;
    cursor: pointer;
  }
}
